.main-container {
  width: 100%;
  min-height: 82px;
  margin-bottom: 10px;
  background-color: #fbfbff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
}
.main-container-nav {
  width: 80%;
  margin: auto;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .main-container-nav {
    max-width: 100%;
    margin: 0 10px 0 10px;
  }
}
