.eventContainer
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 20px
    
.progressBarContainer    
    display: flex
    flex-direction: column
    justify-content: center
    width: 80%
    
    .timeListName
        text-align: center        
        color: #665959        
        font-size: 30px        
        font-weight: 800     
    
    .timerContainer    
        display: flex
        flex-direction: column
        justify-content: center
        margin: 15px 15px 15px 50px
        padding: 0 15px
        height: 100px 
        border: 2px solid #DFE1E3   
        border-radius: 5px 
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1)
        transition: box-shadow 0.3s ease, border-color 0.3s ease
        
    .eventName     
        margin: 5px    
        color: #665959            
        font-size: 20px            
        font-weight: 400          


       

    
        