.eventContainer
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 20px
    
.progressBarContainer    
    display: flex
    flex-direction: column
    justify-content: center
    width: 100%
    @media(max-width: 800px)
        width: 100vw
        margin: auto
    
    .nameContainer
        display: flex
        justify-content: center
        align-content: center
        width: 100%

        .timeListName   
            display: flex
            justify-content: space-around
            align-content: center
            width: 100%  
            color: #665959        
            font-size: 30px        
            font-weight: 800   
        .closedEvents
             display: flex
             justify-content: center
             text-align: center
        .badge
            padding: 3px 3px
            width: 15px
            height: 15px
            border-radius: 50%
            font-size: 16px
            font-weight: 800
            background-color: #ff0000
            color: #ffffff
    
    .timerContainer    
        display: flex
        flex-direction: column
        justify-content: center
        margin: 15px 
        padding: 15px 15px
        height: 100px 
        border: 2px solid #DFE1E3   
        border-radius: 10px 
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1)
        transition: box-shadow 0.3s ease, border-color 0.3s ease
        
    .eventName     
        margin: 5px    
        color: #665959            
        font-size: 20px            
        font-weight: 400  

    .removeButton
        margin: 5px
        width: 90px
        height: 25px     
        border: 2px solid #DFE1E3
        border-radius:5px


        



       

    
        