.mobile-main {
  display: none;
}

@media screen and (max-width: 991px) {
  .mobile-main {
    display: none;
    width: 100%;
    height: calc(100% - 128px);
    margin: auto;
    position: fixed;
    overflow: auto;
    right: 0;
    left: 0;
    top: 128px;
    background-color: #fff;
    box-shadow: inset 0 2 6 0 rgba(0 0 0 /0.12);
  }

  .mobile-search-container-block {
    width: 80%;
    margin: auto;
    /* margin-top: 5px; */
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 6 0 rgba(0 0 0 /0.12);
  }
  .mobile-search-block-input {
    width: 85%;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #a9a3b7;
    border: none;
    outline: none;
  }
  .mobile-search-block-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(450deg, #4a9dff 0, #637cf7 50%, #8e71d1 100%);
    box-shadow: 0 16px 40px rgba(11 169 166 / 0.16);
  }
  .search-img-arrow {
    width: 20px;
  }

  .mobile-main-nav {
    width: 80%;
    margin: 16px auto;
  }
  .menu-open .mobile-main {
    display: block;
  }
  .mobile-main-nav-li {
    padding: 20px 0;
    cursor: pointer;
  }
  .mobile-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-main-nav-link {
    font-size: 16px;
    font-weight: 700;
    color: #19184a;
  }
  .fa-chevron-down {
    font-size: 13px;
    color: #4a9dff;
    cursor: pointer;
  }
  .mobile-main-nav-link:hover {
    color: #6780f7;
  }
  .mobile-main-nav-drop-list {
    display: none;
    margin-top: 30px;
  }
  .mobile-main-nav-li.active .mobile-main-nav-drop-list {
    display: block;
    color: #19184a;
    font-weight: 400;
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-search-block-button {
    background: #ff6955;
  }
}
