.footer-menu-container {
  max-width: 80%;
  margin: 40px 40px 0 100px;
  display: flex;
  flex-direction: row;
}
.footer-menu-block {
  width: 20%;
  margin-left: 5vw;
}
@media screen and (max-width: 991px) {
  .footer-menu-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .footer-menu-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 991px) {
  .footer-menu-block {
    max-width: 100%;
  }
}

.footer-menu-title {
  padding: 0.5vh 0.5vw;
  font-size: 20px;
  font-weight: 700;
  color: #343434;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  .footer-menu-title {
    padding: 10px 10px;
  }
}

.footer-menu-ul {
  margin: 0 0 5vh 0;
}
@media screen and (max-width: 991px) {
  .footer-menu-ul {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .active .footer-menu-ul {
    display: block;
  }
}
.footer-menu-li {
  padding: 1vh 0.5vw;
}

.footer-menu-link {
  font-size: 14px;
  color: #19184a;
}
.footer-menu-li:hover .footer-menu-link {
  color: #0d6efd;
}
