@font-face {
    font-family: 'ProductSansRegular';
    src: url('fonts/ProductSansRegular.eot');
    src: url('fonts/ProductSansRegular.eot') format('embedded-opentype'),
         url('fonts/ProductSansRegular.woff2') format('woff2'),
         url('fonts/ProductSansRegular.woff') format('woff'),
         url('fonts/ProductSansRegular.ttf') format('truetype'),
         url('fonts/ProductSansRegular.svg#ProductSansRegular') format('svg');
}
