.buttonContainer
  display: inline-block    
  background: #ffffff
  padding: 10px 25px
  text-align: left
  margin-bottom: 30px
  height: 180px
  margin-right: 25px
  box-sizing: border-box
  border-radius: 25px
  box-shadow: 0 8px 40px rgba(0, 0, 0, .06)
  flex: 1 1
  min-width: 170px
  max-width: 340px

  .imgContainer
    height: 36px
    width: 36px
    margin: 10px 0  

.infoButtonContainer
   display: flex
   flex-direction: column
   justify-content: start         

   .buttonName
    font-size: 16px
    font-weight: 600
    margin: 0 0 8px 0
    color: #19184a

   .infoButton
    font-size: 16px
    font-weight: 400
    color: #8c8ba4 
    line-height: 1.5 

