
.headerContainer{
    width: 100%;
    background-color: #343434;
}
.headerBlock{
    width: 99%;
    /* height: 45px; */
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #19184A;
}
.headerLink{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}

@media screen and (max-width: 767px){
    .headerLink{
        font-size: 14px;
    }
    .mobilePart{
        display: none;
    }   
}

.headerButton{
    width: 90px;
    margin: 0 0 0 20px;
    padding: 8px 8px;
    border-radius: 8px;
    border: 1px solid #637CF7;
    background-color: #19184A;
    color: #637CF7;
    font-weight: 700;
}